import requests

# NOTE: you must manually set API_KEY below using information retrieved from your IBM Cloud account.
API_KEY = "ieLUV0Cb-QOgcFR_1tkB6KX6M9NU_Y-zAiP8yyVJRU2Q"
token_response = requests.post('https://iam.cloud.ibm.com/identity/token', data={"apikey":
 API_KEY, "grant_type": 'urn:ibm:params:oauth:grant-type:apikey'})
mltoken = token_response.json()["access_token"]

header = {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + mltoken}

# NOTE: manually define and pass the array(s) of values to be scored in the next line
payload_scoring = {"input_data": [{"fields": [array_of_input_fields], "values": [array_of_values_to_be_scored, another_array_of_values_to_be_scored]}]}

response_scoring = requests.post('https://us-south.ml.cloud.ibm.com/ml/v4/deployments/c258bae8-1c4e-4341-9462-9f2548c369e1/predictions?version=2022-07-07', json=payload_scoring,
 headers={'Authorization': 'Bearer ' + mltoken})
print("Scoring response")
print(response_scoring.json())
<html >
<head>  
  <title>AutoAI Flask Deployment Tutorial</title>
</head>

<body>
 <div class="login">
	<h1>Abalone age Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="duration" placeholder="Enter Duration" required="required" /> </br> </br>
        <input type="text" name="amount" placeholder="Enter Amount" required="required" /> </br> </br>
	<input type="text" name="age" placeholder="Enter Age" required="required" /> </br> </br>
        <button type="submit"> Predict Risk </button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>
